#header
  text-shadow 0 0 1px #fff
  margin 50px auto
  a
    color #999
    &:hover
      color color-link
      text-decoration none
    
  h1
    font-weight normal
    font-size 3.5em
    line-height 1
    a
      color #fff
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.8)
      &:hover
        color #fff
        text-decoration none

  h2
    font-weight normal
    font-size 1em
    line-height 1
    
  @media screen and (max-width: 600px)
    margin 20px auto
  
  #main-nav
    font-family font-title
    line-height 2.5em
    ul
      list-style none
      li
        float left
        margin-left 30px
