<section class="section">
  <div class="container has-text-centered">
    <p>{{ .Site.Copyright | safeHTML }}</p>
  </div>
</section>
<script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js" integrity="sha256-KbfTjB0WZ8vvXngdpJGY3Yp3xKk+tttbqClO11anCIU=" crossorigin="anonymous"></script>
{{ range .Site.Params.highlight.languages }}
<script type="text/javascript" src="//cdn.bootcss.com/highlight.js/9.9.0/languages/{{ . }}.min.js"></script>
{{ end }}
<script>
(function() {
  var elements = document.querySelectorAll('pre code');
  Array.prototype.forEach.call(elements, function(el, i){
    if (RegExp('(^| )language-.*', 'gi').test(el.className)) {
      hljs.highlightBlock(el);
    }
  });
})();
</script>
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
