<section class="section">
  <div class="container">
    <nav id="topnav" class="nav">
      <div id="nav-name" class="nav-left">
        <a id="nav-anchor" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
      </div>
      <div class="nav-right">
          {{- $social := ( .Site.Params.social ) -}}
          {{- range $platform := $social.config.platforms -}}
          {{- with $username := ( index $social $platform ) -}}
          <a class="level-item" aria-label="{{ $platform }}" href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}'
                                target='_blank' rel='noopener'>
            {{- partial "font-awesome" $platform -}}
          </a>
          {{- end -}}
          {{- end -}}
      </div>
    </nav>
  </div>
</section>
