<section class="section pager">
  <div class="container">
    <nav class="is-center">
      <div>
        {{ if .Paginator.HasPrev }}
        <a class="button outline dark" href="{{ .Paginator.Prev.URL }}">
          <span>
            {{ partial "font-awesome" "prev" }}
          </span>
          Newer
        </a>
        {{ end }}
      </div>
      <div>
        {{ if .Paginator.HasNext }}
        <a class="button outline dark" href="{{ .Paginator.Next.URL }}">
          Older
          <span class="">
            {{ partial "font-awesome" "next" }}
          </span>
        </a>
        {{ end }}
      </div>
    </nav>
  </div>
</section>
